*, *:before, *:after {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
.main {
  position: fixed;
  background-color:rgb(91,106,213);
  width:100%;
  height: 20%;
  bottom: 0;
  /* transform: translateY(-100%);
  margin-top: 51%; */
}
.input-message{
position: absolute;
transform: translateY(-50%);
margin-top: 15%;
width: 90%;
}
.logo{
  position: absolute;
  width:30px;
  float: left;
}
.imgo{
  position: absolute;
  width: 100%;
  margin-top: 20px;
}

